body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header,
.content,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.header img.logo {
    float: left;
    border: 0;
    width: 128px;
    height: 128px;
}

.header h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 128px;
    text-align: center;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.content {
    margin: 40px 0;
}

@media screen and (min-width: 768px) {
    .header,
    .content,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    .header {
        margin-bottom: 30px;
    }
}

form div.errors {
    color: red;
}

form div.errors ul {
    list-style: none;
}

.field_with_digital_kb .field_output {
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #999;
    line-height: 30px;
    border: 1px solid #ccc;
    margin: 5px 0;
}