<div class="field_with_digital_kb">
    <div class="field_output"></div>
    {{ super_rendered }}
    <div class="digital_kb">
        <table>
            {% for keys_row in digital_keys %}
                <tr>
                    {% for key in keys_row %}
                        <td>
                            {% if key or key == 0 %}
                                <button class="btn btn-lg" data-key={{ key }}>{{ key }}</button>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>