{% extends "base.html" %}

{% block content %}
    {% if messages %}
        <div class="messages clearfix">
            {% for message in messages %}
            	<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="text-center clearfix"><a href="{% if back_url %}{{ back_url }}{% else %}{% url 'homepage' %}{% endif %}" class="btn btn-primary btn-lg">Назад</a></div>
{% endblock %}
