<form action="." method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            <p>{{ field.label_tag }}</p>
            <div class="errors">{{ field.errors }}</div>
            {{ field }}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <div class="clearfix" style="padding-top: 40px;">
        <input type="reset" value="Очистить" class="btn btn btn-danger" />
        <input type="submit" value="ОК" class="btn btn-success" />
        {% block additional_buttons %}{% endblock %}
    </div>
</form>