{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}ATM{% endblock %}</title>

        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href="{% static "css/styles.css" %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="header clearfix">
                <img src="{% static "img/logo.png" %}" class="logo" />
                <h1 class="text-muted">ATM</h1>
            </div>

            <div class="content">
                {% block content %}
                {% endblock %}
            </div>

            <footer class="footer">
                <p>Oleksandr Rabazulkin, 2016.</p>
            </footer>

        </div>

        <script src="{% static "js/jquery-1.12.0.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
    </body>
</html>