{% extends "base.html" %}

{% block content %}
    <p>Номер банковской карты: <b>{{ card.card_number_formatted }}</b></p>
    <p>Текущая дата: <b>{% now "d.m.Y" %}</b></p>
    <p>Баланс на карте: <b>{{ card.balance }}</b></p>

    <div class="text-center clearfix"><a href="{% url 'operations:operations_list' %}" class="btn btn-primary btn-lg">Назад</a><a href="{% url 'operations:logout' %}" class="btn btn-danger btn-lg">Выход</a></div>
{% endblock %}
