{% extends "base.html" %}

{% block content %}
    <div class="text-center" style="margin: 10px auto;">
    	<a href="{% url 'operations:balance' %}" class="btn btn-primary btn-lg">Баланс</a>
    </div>
    <div class="text-center" style="margin: 10px auto;">
    	<a href="{% url 'operations:get_money' %}" class="btn btn-success btn-lg">Снять сумму</a>
    </div>
    <div class="text-center" style="margin: 10px auto;">
    	<a href="{% url 'operations:logout' %}" class="btn btn-danger btn-lg">Выход</a>
    </div>
{% endblock %}
