{% extends "common/render_form.html" %}
{% block additional_buttons %}<br><br><a href="{% url 'operations:operations_list' %}" class="btn btn-primary btn-lg">Назад</a><a href="{% url 'operations:logout' %}" class="btn btn-danger btn-lg">Выход</a>{% endblock %}